<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #container{
            border: 5px solid brown;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<!--根据作者找文章-->
{% for article  in users.articles %}
    <div id="container"  >
        <p>
            <h3> {{ article.title }}</h3>
        作者：{{ users.username }}
        </p>
        <p> {{ article.content }} </p>
        <p> <div> {{ article.pdatetime }} </div></p>
    </div>

{% endfor %}
</body>
</html>